* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}


body {
    padding-top: 70px; 
} 
a {
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 1rem 2rem;
    color: white;

    /* fixed */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* main menu */

.main-menu {
    display: flex;
    list-style: none;
}

.main-menu a {
    display: block;
    padding: 10px 15px;
    color: #ecf0f1;
}

.main-menu a:hover {
    background-color: #3498db;
}

/* kunci dropdown */

/* dropdown parrent */
.dropdown-parent {
    list-style: none;
    position: relative;
}

/* sub menu */
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: #34495e;
    display: none;
    z-index: 10;
}

/* aksi hover */
.dropdown-parent:hover .submenu {
    display: block;
}

/* styling sub menu link */
.submenu li a {
    color: white;
    padding: 10px 15px;
    border-top: 1px solid #4d657a;
}

.submenu li a:hover {
    background-color: #5d81a5;
}

/* styling cta button */
.cta-button {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;

/* efek transisi */
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c0392b;
}

.nav-cta a {
    text-decoration: none;
}

/* logo */
.logo-img {
    height: 40px;
    width: auto;
}

.logo a{
    color: transparent;
    font-size: 0;
}

.main-menu .active {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}